@model MyIMDB.Web.ViewModels.Movies.CreateMovieInputModel
@{
    this.ViewData["Title"] = "Add movie";
    var pgRatingsItems = this.Model.PgRatingsItems.Select(x => new SelectListItem(x.Value, x.Key));
}


<form method="post" class="col-md-6 offset-md-3">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class=" form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Director"></label>
            <input asp-for="Director.FullName" class=" form-control" />
            <span asp-validation-for="Director.FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Synopsis"></label>
            <textarea asp-for="Synopsis" class=" form-control" rows="5"></textarea>
            <span asp-validation-for="Synopsis" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Duration"></label>
            <input asp-for="Duration" class=" form-control" />
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PgRating"></label>
            <select asp-for="PgRating" class="form-control" asp-items="pgRatingsItems"></select>
            <span asp-validation-for="PgRating" class="text-danger"></span>
        </div>
        <div id="CastContainer">
            <label asp-for="Cast"></label>
            <a class="btn btn-success" onclick="AddCast()">+</a>
        </div>
        @*<div class="form-group">
                <label asp-for="Genre"></label>
                <input asp-for="Genre" class=" form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cast"></label>
                <input asp-for="Cast" class=" form-control" />
                <span asp-validation-for="Cast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review"></label>
                <textarea asp-for="Review" class=" form-control" rows="5"></textarea>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images"></label>
                <input asp-for="Images" class=" form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>*@
    </div>
    <input type="submit" class="btn btn-primary" />
</form>

@section Scripts{
    <script>
        //Cast[0].FullName
        var actorIndex = 0;
        function AddCast() {
            $("#CastContainer").append("<div class='form-control'> Name: <input type='text' name='Cast[" + actorIndex + "].FullName' id='' /> Rating: <input type='text' name='Cast[" + actorIndex + "].StarRating' id='' /></div>");
            actorIndex++;
        }
    </script>
}