@model MyIMDB.Web.ViewModels.Movies.EditMovieInputModel
@{
    ViewData["Title"] = "Edit movie";
    var genreItems = this.Model.GenreItems.Select(x => new SelectListItem(x.Value, x.Key));
}


<form method="post" id="editForm">
    <h1>@this.ViewData["Title"]</h1>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Synopsis"></label>
        <textarea asp-for="Synopsis" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Synopsis" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Runtime"></label>
        <input asp-for="Runtime" class="form-control" />
        <span asp-validation-for="Runtime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GenreId">Genre</label>
        <select asp-for="GenreId" asp-items="genreItems" class="form-control"></select>
        <span asp-validation-for="GenreId" class="text-danger"></span>
    </div>

    <hr />
    <input type="hidden" asp-for="Id" />
</form>

<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalEdit">Save changes</button>

<!-- Modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you wish to proceed with these changes?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editForm.submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>